*~
target
.idea
*.iml
settings.xml
.classpath.txt
.fullclasspath.txt

# eclipse
.project
.buildpath
.classpath
.settings
.checkstyle

# Saiku Tests
example/csv/src/test/java/org/apache/calcite/test/SaikuChangesTest.java
